<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Rishi_Emi::calculator" sortOrder="10" title="calculator">
					<resource id="Rishi_Emi::calculator_save" sortOrder="10" title="Save calculator"/>
					<resource id="Rishi_Emi::calculator_delete" sortOrder="20" title="Delete calculator"/>
					<resource id="Rishi_Emi::calculator_update" sortOrder="30" title="Update calculator"/>
					<resource id="Rishi_Emi::calculator_view" sortOrder="40" title="View calculator"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Rishi_Emi::config_rishi_emi" title="setting"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
